

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">My Visit</h3>
            </div>
            <!-- /.box-header -->
            <div class="panel box box-success" *ngIf='isDataAva==false'>
                  
                <div class="box-body">
                  <h4 class="box-title">
                    No Data Available     
                  </h4>                
                </div>
            </div>

            <div class="box-body" *ngIf='isDataAva==true'>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Store</th>
                  <th>Tracking Type</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let elem of objArray">
                  <td>{{elem.date | date:'EEE dd MMM yyyy'}}</td>
                  <td>{{elem.date | date:'mediumTime'}}
                  </td>
                  <td>{{elem.store_code}}</td>
                  <td> Automatic within 72 Hours</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
